.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $pad;
  box-sizing: border-box;

  width: calc((#{$day} * 7) + (#{$gap} * 6) + (#{$pad} * 2));

  margin: 0;

  &__day {
    width: $day;
    height: $day;
    box-sizing: border-box;

    background-color: $bg;
    border: 1px solid $border;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
      transform 0.5s,
      background-color 0.5s;

    &::before {
      font-family: $arial;
      font-size: $font;
      color: $text;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $bg-hover;
      transform: translateY(-20px);
    }
  }

  @each $day-name, $i in $start {
    &--start-day-#{$day-name} {
      .calendar__day:first-child {
        margin-left: calc((#{$day} + #{$gap}) * #{$i});
      }
    }
  }

  @for $length from 28 through 31 {
    &--month-length-#{$length} {
      .calendar__day:nth-child(n + #{$length + 1}) {
        display: none;
      }
    }
  }
}
