$day: 100px;
$font: 30px;
$arial: Arial, sans-serif;
$bg: #eee;
$bg-hover: #ffbfcb;
$border: #000;
$text: #000;
$gap: 1px;
$pad: 10px;
$start: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
